.header {
    position: relative;
    z-index: 1;
}

.header-static {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.header-static .i-menu {
    flex: none;
    width: 35px;
    height: 35px;
    color: #FFF;
}
.header-static .menu-button {
    padding: 3px 12px;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 1000px;
}

.header .logo {
    margin-right: 15px;
}