.footer {
    margin-top: auto;
    padding: 20px;
    background-color: rgb(247, 247, 247);
}
.footer-item {
    margin: 15px 0;
}

.footer-block-part {
    padding: 20px 0;
    border-bottom: solid 1px rgb(225, 225, 225);
}
.footer-block-part:last-child {
    border-bottom: none;
}

.main-footer .footer-block:last-child {
    background-color: #FFF;
    border-radius: 20px;
    padding: 10px 20px;
    max-width: 500px;
    margin: 0 auto;
    font-size: .9em;
}
.main-footer .footer-block:last-child a:hover {
    text-decoration: underline;
}

.footer-block.main {
    margin-bottom: 20px;
    padding: 0 10px;
    max-width: 500px;
    margin: 0 auto;
}
.footer-block-part-title {
    margin-bottom: 10px;
    font-weight: 600;
}

@media only screen and (min-width: 1050px) {
    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer-block.main {
        max-width: 1200px;
        margin: 0 auto 40px;
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer-block-part {
        border-bottom: none;
    }
}

@media only screen and (min-width: 1400px) {
    .main-footer .footer-block:last-child {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 1250px;
        max-width: none;
        padding-left: 30px;
        padding-right: 30px;
    }
}