.footer {
    font-size: .9em;
}
.profile-footer-wrapper {
    background-color: rgb(245, 245, 245);
    padding: 25px 20px;
}
.mobile-menu .profile-footer-wrapper {
    margin-top: auto;
}

.footer-item {
    margin: 15px 0;
}

.top-footer-wrapper {
    padding: 35px 20px;
    border-top: solid 3px rgb(225, 225, 225);
}
.top-footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-block-part-title {
    font-weight: 600;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.bottom-footer {
    background-color: rgb(245, 245, 245);
    font-size: .95em;
    font-weight: 600;
    padding: 30px 20px;
}

@media only screen and (min-width: 650px) {
    .profile-footer-wrapper, .top-footer-wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }
    .profile-footer, .top-footer {
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
    }
    .bottom-footer {
        text-align: center;
    }
}


@media only screen and (min-width: 950px) {
    .top-footer {
        max-width: 1500px;
        flex-direction: row;
        gap: 50px;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}
@media only screen and (min-width: 1050px) {
    .profile-footer-wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .profile-footer {
        max-width: 1200px;
        display: flex;
        gap: 50px;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}