.hero-title-bis.admin-hero-title-bis {
    padding: 15px 30px;
    max-width: none;
    margin: 0;
    text-align: center;
}

.admin-main-title {
    font-weight: 600;
    font-size: 3em;
    text-align: center;
    margin-top: -10px;
}
.admin-page {
    margin-bottom: 150px;
}

.admin-home-block {
    border: solid 1px rgb(225, 225, 225);
    padding: 15px 20px;
    border-radius: 10px;
    margin: 40px 0;
}
.admin-home-block-title {
    text-align: center;
    font-size: 1.7em;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;
}

.admin-table {
    width: 100%;
}
.admin-table td, .admin-table th {
    text-align: center;
    padding: 5px 15px;
}

.admin-table-control {
    font-weight: 600;
}

.admin-home-block-footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.admin-home-block .button {
    background-color: var(--color-base);
}
.admin-home-block .button:hover {
    background-color: var(--color-base-flash);
}

.admin-main-loader {
    margin: 20px auto;
}

.admin-main-error {
    background-color: #ffc8c8;
    color: red;
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 6px;
    margin: 5px 0;
}

.form-group {
    margin: 20px 0;
}
.form-control {
    height: 40px;
    width: 100%;
    border: var(--border-input);
    padding: 0 10px;
    border-radius: 6px;
}
.form-control:focus {
    outline: var(--outline-input);
}

.admin-login-form, .admin-user-card {
    padding: 15px 25px;
    max-width: 450px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    margin: 20px 0;
}
.admin-login-title {
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.admin-form-modal-container {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-form-modal {
    width: 600px;
    max-width: 80vw;
    max-height: 80vh;
    overflow-y: auto;
    background-color: #FFF;
    border-radius: 10px;
    padding: 10px 20px;
}
.admin-form-modal .form-control {
    max-width: none;
}
.admin-form-modal .button {
    margin: 4px auto;
}
.admin-submit-group {
    margin-top: 20px;
}




.form-upload-wrapper {
    width: 40px;
    height: 40px;
    border: dashed 1px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
}
.project-form .form-upload-wrapper {
    width: 150px;
    height: 150px;
}
.form-upload-wrapper .icon {
    width: 70%;
    height: 70%;
    opacity: .7;
}

.form-group {
    position: relative;
}
.form-group .form-upload-trash-button {
    position: absolute;
    bottom: 0;
    left: 50px;
}
.form-group .form-upload-trash-button .i-trash {
    width: 1.2em;
    height: 1.2em;
}

.project-form .form-group .form-upload-trash-button {
    left: 165px;
    bottom: 5px;
}
.project-form .form-group .form-upload-trash-button .i-trash {
    width: 1.4em;
    height: 1.4em;
}

.form-upload-wrapper:hover .form-upload-img {
    opacity: .3;
}
.form-upload-wrapper:hover .i-edit {
    position: absolute;
    z-index: 1;
}

.admin-table-subline {
    background-color: rgb(245, 245, 245);
}