.hero-bis-img {
    height: 500px;
    max-height: 30vh;
    background: url("/img/banner.jpg") center center / cover no-repeat;
    margin-top: -70px;
    display: flex;
    flex-direction: column;
}

.hero-bis-img .hero-text {
    margin-top: auto;
    color: #FFF;
}
.hero-text-bis {
    margin-top: auto;
}
.hero-title-bis {
    font-size: 2.7em;
    line-height: 1.1;
    font-weight: 600;
    color: #FFF;
    padding: 15px;
    max-width: var(--page-container-width);
    margin: 0 auto;
}

.project-item {
    margin: 40px 0;
}
.project-item:first-child {
    margin-top: 0;
}
.project-item-img {
    display: block;
    width: 100%;
    height: auto;
}
.project-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 600;
    margin: 10px 0;
}
.project-item-text {
    margin: 10px 0;
}
.project-item-title {
    font-size: 1.7em;
}
.chip.project-item-date-chip {
    font-size: .75em;
}

.project-index, .project-index-main-subtitle  {
    max-width: var(--page-container-width);
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}



@media only screen and (min-width: 460px) {
    .project-index {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
    .project-index .project-item {
        margin: 0;
    }
    .project-index .project-item {
        width: calc(50% - 8px);
    }
}

@media only screen and (min-width: 700px) {
    .project-index .project-item {
        width: calc(33% - 15px);
        max-width: 300px;
    }
}

@media only screen and (min-width: 1050px) {
    .hero-bis-img {
        background: linear-gradient(to right bottom, rgba(255, 255, 255, .2), rgba(0, 0, 0, .3)),
                    url("/img/banner.jpg") center center / cover no-repeat;
    }
    .project-index {
        gap: 30px;
    }
    .project-index .project-item {
        width: calc(33% - 20px);
        max-width: 300px;
    }
}