@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-black: #1e1e1e;
    --color-base: #361964;
    --color-base-flash: #4e268f;

    --color-secondary: #eae0fa;
    --color-secondary-dark: #e4d4fc;
}


body, html {
    height: 100%;
    color: var(--color-black);
}
body {
    overflow-x: hidden;
    font-size: 16px;
}

.icon {
    width: 1em;
    height: 1em;
}




