@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-black: #1e1e1e;
    --color-base: #361964;
    --color-base-flash: #4e268f;

    --color-secondary: #eae0fa;
    --color-secondary-dark: #e4d4fc;

    --outline-input: solid 3px rgb(108 179 207);
    --border-input: solid 1px rgb(220, 220, 220);
}


body, html {
    height: 100%;
    color: var(--color-black);
}
body {
    overflow-x: hidden;
    font-size: 16px;
}

.icon {
    width: 1em;
    height: 1em;
}

.no-overflow {
    overflow: hidden;
}

input {
    appearance: none;
    outline: none;
}

.text-muted {
    font-size: .85em;
    font-style: italic;
    font-weight: 300;
}

